Repository FaGru/pokeapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint, htmlhint

Add react-select and styling
  client/package-lock.json
  client/package.json
  client/src/components/NavBar.tsx
  client/src/components/Searchbar.tsx
  client/src/hooks/useStore.tsx
  client/src/interfaces/all_types_interface.tsx
Due: prettier --ignore-unknown --write

Add react select as a filter for pokemon types
  client/src/components/Searchbar.tsx
  client/src/hooks/useStore.tsx
  client/src/pages/Home.tsx
Due: prettier --ignore-unknown --write

Disabled react select at length of two options
  client/src/components/Searchbar.tsx
  client/src/pages/Home.tsx
Due: prettier --ignore-unknown --write

Disabled react select at length of two options
  client/src/components/Searchbar.tsx
Due: prettier --ignore-unknown --write

Add favorite page and started with store request functions
  client/src/App.tsx
  client/src/components/NavBar.tsx
  client/src/components/Pokecard.tsx
  client/src/hooks/backendUseStore.tsx
  client/src/pages/FavoritePage.tsx
  server/routes/pokemonRoutes.js
Due: prettier --ignore-unknown --write, eslint

Add request to backend for favorite pokemons
  client/src/components/Pokecard.tsx
  client/src/hooks/backendUseStore.tsx
  server/controllers/pokemonController.js
  server/index.js
  server/routes/pokemonRoutes.js
Due: prettier --ignore-unknown --write, eslint

Add functionality to like pokemon and render them on the favorite page
  client/src/components/Pokecard.tsx
  client/src/hooks/backendUseStore.tsx
  client/src/pages/FavoritePage.tsx
  server/controllers/pokemonController.js
  server/models/pokemonModel.js
Due: prettier --ignore-unknown --write, eslint

Add functionality to see if a pokemon is liked or unliked and clean up code
  client/src/components/NavBar.tsx
  client/src/components/Pokecard.tsx
  client/src/hooks/backendUseStore.tsx
  client/src/interfaces/species_interface.tsx
  client/src/pages/FavoritePage.tsx
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
  server/controllers/pokemonController.js
  server/models/pokemonModel.js
Due: prettier --ignore-unknown --write, eslint

Add functionality to see if a pokemon is liked or unliked and clean up code
  client/src/components/NavBar.tsx
Due: prettier --ignore-unknown --write

Add test for favorite page
  client/src/pages/FavoritePage.test.tsx
  client/src/pages/FavoritePage.tsx
Due: prettier --ignore-unknown --write

Added interfaces and removed any types
  client/src/components/DetailEvolution.tsx
  client/src/components/DetailHeader.tsx
  client/src/components/Pokecard.tsx
  client/src/components/Searchbar.tsx
  client/src/hooks/backendUseStore.tsx
  client/src/hooks/useStore.tsx
  client/src/index.tsx
  client/src/pages/FavoritePage.tsx
Due: prettier --ignore-unknown --write

Responsive navbar added.
  client/public/index.html
  client/src/components/NavBar.tsx
  client/src/images/hamburger-menu.svg
  client/src/styles/navbar.css
Due: prettier --ignore-unknown --write, htmlhint

Split navigation into multiple files to add more readability
  client/src/components/MobileNavigation.tsx
  client/src/components/NavBar.tsx
  client/src/components/Navigation.tsx
Due: prettier --ignore-unknown --write

Overall code refactoring
  client/src/components/DetailAbout.tsx
  client/src/components/DetailEvolution.tsx
  client/src/components/DetailStats.tsx
  client/src/components/MobileNavigation.tsx
  client/src/components/Pokecard.tsx
  client/src/pages/DetailPage.tsx
  client/src/pages/FavoritePage.test.tsx
  client/src/pages/Home.tsx
  test
Due: prettier --ignore-unknown --write

Fixed bug that mobile user is not set inital page load
  client/src/components/MobileNavigation.tsx
  client/src/components/NavBar.tsx
  client/src/index.tsx
Due: prettier --ignore-unknown --write

Fixed bug that menu width is to small
  client/src/components/MobileNavigation.tsx
Due: prettier --ignore-unknown --write

Added more width to menu
  client/src/components/MobileNavigation.tsx
Due: prettier --ignore-unknown --write

Removed debugging logs
  client/src/components/MobileNavigation.tsx
  client/src/components/NavBar.tsx
Due: prettier --ignore-unknown --write

Changed styling and add tests for navbar
  client/src/components/MobileNavigation.tsx
  client/src/components/NavBar.test.tsx
  client/src/components/Searchbar.tsx
  client/src/pages/FavoritePage.tsx
  client/src/pages/Home.tsx
  client/src/pages/Register.test.tsx
Due: prettier --ignore-unknown --write

Changed styling and add tests for navbar
  client/src/components/MobileNavigation.tsx
Due: prettier --ignore-unknown --write

Add type for a state in the navabr
  client/src/components/NavBar.test.tsx
  client/src/components/NavBar.tsx
Due: prettier --ignore-unknown --write

Changed styling for navbar
  client/src/components/Navigation.tsx
Due: prettier --ignore-unknown --write

Update index.tsx
  client/src/index.tsx
Due: prettier --ignore-unknown --write

Path conditions:
  prettier --ignore-unknown --write: any of: *
  eslint: any of: *.js
  htmlhint: any of: *.html
