Repository FaGru/pokeapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint, htmlhint

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.js": "eslint",
  "*.html": ["htmlhint"]
}

Add new components and conditional rendering for Stats, Header and Evolution
  src/components/DetailAbout.tsx
  src/components/DetailEvolution.tsx
  src/components/DetailHeader.tsx
  src/components/DetailStats.tsx
  src/hooks/useStore.tsx
  src/pages/DetailPage.tsx
Due: prettier --ignore-unknown --write

Change website title
  public/index.html
Due: prettier --ignore-unknown --write, htmlhint

Add DetailEvolution component
  src/App.tsx
  src/components/DetailAbout.tsx
  src/components/DetailEvolution.tsx
  src/components/DetailHeader.tsx
  src/components/DetailStats.tsx
  src/components/Pokecard.tsx
  src/hooks/useStore.tsx
  src/images/Background-Pokeball-Grey.svg
  src/images/arrow.svg
  src/interfaces/evolution_interface.tsx
  src/interfaces/pokemon_interface.tsx
  src/pages/DetailPage.tsx
  src/pages/Home.tsx
Due: prettier --ignore-unknown --write

Add test for DetailEvolution and add test data
  src/components/DetailEvolution.test.tsx
  src/components/DetailEvolution.tsx
  src/components/TestProps.tsx
Due: prettier --ignore-unknown --write

Add test for DetailEvolution and add test data
  src/components/DetailStats.tsx
  src/components/TestProps.tsx
Due: prettier --ignore-unknown --write

Add test for Detailstats
  src/components/DetailStats.test.tsx
  src/components/DetailStats.tsx
Due: prettier --ignore-unknown --write

Moved github and gitignore folders
  .github/ISSUE_TEMPLATE/user-story.md
  .github/workflows/main.yml
  .gitignore
  server/.gitignore
Due: prettier --ignore-unknown --write

Update github main.yml file
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

Update github main.yml file
  package.json
Due: prettier --ignore-unknown --write

Update github main.yml file
  .github/workflows/main.yml
  package.json
Due: prettier --ignore-unknown --write

Add useStore and actx
  .github/workflows/main.yml
  package.json
Due: prettier --ignore-unknown --write

Add prettier package.json and eslint to root directory
  .DS_Store
  .eslintrc.js
  .husky/pre-commit
  .prettierignore
  .prettierrc
  client/src/App.tsx
  package-lock.json
  server/index.js
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint

Add prettier package.json and eslint to root directory
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

test
  package.json
Due: prettier --ignore-unknown --write

test
  package-lock.json
Due: prettier --ignore-unknown --write

test
  .github/workflows/main.yml
Due: prettier --ignore-unknown --write

Moved files to client folder
  client/README.md
  client/package-lock.json
  client/package.json
  client/tsconfig.json
Due: prettier --ignore-unknown --write

Moved files to client folder
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Moved files to client folder
  client/.eslintrc.js
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/package-lock.json
  client/package.json
Due: prettier --ignore-unknown --write, eslint

test
  client/src/GlobalStyle.tsx
Due: prettier --ignore-unknown --write

Add files to client folder
  client/src/GlobalStyle.tsx
Due: prettier --ignore-unknown --write

Update package json
  client/package.json
Due: prettier --ignore-unknown --write

Add index.js and models to the server folder
  server/.env.example
  server/.gitignore
  server/index.js
  server/models/Users.js
  server/package-lock.json
  server/package.json
Due: prettier --ignore-unknown --write, eslint

Add index.js and models to the server folder
  server/index.js
Due: prettier --ignore-unknown --write, eslint

Add API Routes for users
  .github/ISSUE_TEMPLATE/user-story.md
  package-lock.json
  server/.env.example
  server/index.js
  server/models/Users.js
  server/routes/userRoutes.js
Due: prettier --ignore-unknown --write, eslint
